.texto-contorno {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
}

.texto-con-sombra {
    color: rgb(0, 0, 0);
    text-shadow: 
    -2px -2px 0 rgb(0, 0, 0),
    2px -2px 0 rgb(0, 0, 0),
    -2px 2px 0 rgb(17, 17, 17),
    2px 2px 0 rgb(0, 0, 0);
}

.fondo-degradado {
    background: linear-gradient(to right, #7bfee8, #4eff9b);
}


body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  overflow: hidden;
}

.contenedor {
  display: flex;
  flex-direction: column; /* Logo arriba, texto abajo */
  align-items: center;    /* Centrar ambos */
}

.logo, .texto {
  animation: caer 2.0s ease-out forwards;
}

/* Animación */
@keyframes caer {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Pequeño retraso para el texto */
.texto {
  margin-top: 15px;
  animation-delay: 0.2s;
}
