
.texto-contorno {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
}

.texto-con-sombra {
    color: rgb(0, 0, 0);
    text-shadow: 
    -2px -2px 0 rgb(0, 0, 0),
    2px -2px 0 rgb(0, 0, 0),
    -2px 2px 0 rgb(17, 17, 17),
    2px 2px 0 rgb(0, 0, 0);
}

.fondo-degradado {
    background: linear-gradient(to right, #7bfee8, #4eff9b);
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  overflow: hidden;
}

.contenedor {
  display: flex;
  flex-direction: column; /* Logo arriba, texto abajo */
  align-items: center;    /* Centrar ambos */
}

.logo, .texto {
  animation: caer 2.0s ease-out forwards;
}

/* Animación */
@keyframes caer {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Pequeño retraso para el texto */
.texto {
  margin-top: 15px;
  animation-delay: 0.2s;
}

.btn {
    padding: 12px 20px;
    background: #ffffff;
    color: #000;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #000;
    color: #fff;
}

/* CONTENEDOR GENERAL */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

/* ENCABEZADO */
.header {
    text-align: center;
    margin-bottom: 40px;
}

/* MENÚ */
.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 40px;
}

.menu a {
    text-align: center;
}

/* BOTONES */
.btn {
    padding: 14px;
    background: white;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: black;
    color: white;
}

/* NOTICIAS */
.noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
}

/* TARJETAS */
.card {
    background: rgba(255,255,255,0.85);
    padding: 20px;
    border-radius: 12px;
}

/* MENSAJE CENTRAL */
.mensaje {
    text-align: center;
    margin: 40px 0;
}

/* FOOTER */
.footer {
    text-align: center;
    font-size: 14px;
}

/* ===============================
   JUEGO DIDÁCTICO (FLAPPY)
================================ */

.contenedor-juego {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

/* Canvas integrado al diseño */
canvas {
    border-radius: 18px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.35);
    background-color: #70c5ce;
}

/* Ajuste móvil */
@media (max-width: 600px) {
    canvas {
        transform: scale(0.9);
    }
}
