<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Versión del sistema</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/estilos1.css') }}">
</head>
<body class="fondo-degradado">

    <h1>Información de la versión</h1>

    <div class="news-box">
        <p><strong>Versión:</strong> 1.0.0</p>
        <p><strong>Proyecto:</strong> DOC.NTA</p>
        <p><strong>Contacto:</strong> contacto@docnta.com</p>
        <p><strong>Teléfono:</strong> 55 0000 0000</p>
    </div>

</body>
</html>
